DOCKER_IMAGE=maxzhirnov/yt-pl-dl:latest

YT_PLAYLIST_URL=https://youtube.com/playlist?list=PLG0cTqREUrX-BE3_hOOu1O94OP1ZI6vOw
YT_SKIP_CERT_CHECK=0
DOWNLOAD_MAX_HEIGHT=1080

LOCAL_DOWNLOAD_DIR=/app/data/downloads
STATE_DB_PATH=/app/data/state.db
LOG_FILE_PATH=/app/logs/yt-pl-dl.log
LOG_LEVEL=INFO

SYNC_MODE=copy
SYNC_TARGET=/mnt/media/youtube
CHECK_ARCHIVED=0
